@charset "utf-8";

@font-face{
  font-family: 'NBGUL';
  src: url(./fonts/NBGUL.ttf) format('truetype');
}
body{
  font-family: NBGUL;
}
.layer{
  position:absolute;top:0;left:0;width:100%;height:100%;text-align:center
}
.layer .content{
  display:inline-block;vertical-align:middle;
}
.layer .blank{
  display:inline-block;width:0;height:100%;vertical-align:middle
}
body{
  background-color: whitesmoke;
}
.signIn{
  border-color: black;
  border-radius: 8px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: White;
  padding: 15px 60px;
  text-align: center;
  font-size: 30px;
}
.signUp{
  border-color: black;
  border-radius: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: White;
}
.inputInfo{
  border-color: black;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 300px;
  height: 50px;
  background: White;
  font-size: 20pt;
  padding-left: 20px;
}
.main{
  border-radius: 8px;
  border-color: black;
  background-color: Beige;
  padding: 15px 60px;
}
